/* TODO: inserite il CSS necessario per completare il MHW! */
.choice-grid {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .choice-grid div {
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    width: 32.5%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .choice-grid div img {
    width: 100%;
    margin-bottom: 0px;
  }

  .choice-grid div img.checkbox {
    margin-bottom: 0px;
}


@media (max-width: 700px) {
    article {
      margin: auto;
      width: 95%;
    }
    header div span {
      display: none;
    }
  }
  
  @media (max-width: 500px) {
      .choice-grid div {
        width: 49%;
        }
  }

  .choice-grid div.selected{
    background-color:#cfe3ff;
  }

  .opacity{
    opacity:0.6;
  }

  #result{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Pangolin', 'Trebuchet MS', cursive;
  }

  h1{
    color: black;
    font-size: 60px;
    margin-bottom:18px;
    margin-top: 0px;
  }

  p{
    margin-bottom: 18px;
  }

  #button{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#cecece;
    height:50px;
    cursor: pointer;
  }
  #button:hover{
    background-color:#e0e0e0;
  }
  .hidden{
    display:none;
  }